---
import Logo from "@src/components/Logo.component.astro";
---

<div>
  <div id="block0" class="centered-block active">
    <Logo class="text-center text-3xl" ejeX="-20" size="400" />
    <h1 class="text-3xl font-bold text-pink-500 mb-6 text-center">
      Consultoria de Software
    </h1>
    <p class="text-lg mb-6">
      En nuestra consultora de software, nos enorgullece ofrecer soluciones a
      medida tanto para empresas emergentes como para grandes corporaciones. Nos
      especializamos en el desarrollo de software independiente, abarcando tanto
      código abierto como soluciones propietarias, adaptándonos a las
      necesidades específicas de cada cliente.
    </p>
  </div>

  <div id="block1" class="centered-block">
    <h2 class="text-2xl font-bold text-pink-300 mb-3">Nuestra Misión</h2>
    <p class="mb-6">
      Nuestra misión es impulsar la innovación a través de la tecnología.
      Creemos en el poder transformador del software para resolver problemas,
      mejorar procesos y potenciar el crecimiento empresarial. Con un enfoque
      tanto en el código abierto como en el cerrado, nos esforzamos por brindar
      soluciones versátiles y efectivas que impulsen el éxito de nuestros
      clientes.
    </p>
  </div>

  <div id="block2" class="centered-block">
    <h2 class="text-2xl font-bold text-pink-300 mb-3">Lo Que Ofrecemos</h2>
    <ul class="list-disc pl-6 mb-6">
      <li class="mb-2">
        <strong class="text-pink-200">Desarrollo de Software:</strong> Nuestro equipo
        altamente calificado y experimentado está listo para llevar a cabo proyectos
        de desarrollo de software de cualquier tamaño y complejidad. Ya sea que necesites
        una aplicación web, móvil o de escritorio, estamos aquí para convertir tus
        ideas en realidad.
        <br>
        <br>
        Descubre <strong class="text-pink-200"><a href="#">AQUI</a></strong> nuestros
        productos software ya desarrollados. 
        <br>
        <br>
      </li>
      <li class="mb-2">
        <strong class="text-pink-200">Código Abierto y Cerrado:</strong> Valoramos
        la libertad y la colaboración que ofrece el código abierto, pero también
        entendemos las necesidades de seguridad y exclusividad de ciertas empresas.
        Por eso, ofrecemos soluciones en ambos ámbitos, asegurando la elección más
        adecuada para cada proyecto.
      </li>
      <li class="mb-2">
        <strong class="text-pink-200">Servicios de Consultoría:</strong> Más allá
        del desarrollo de software, ofrecemos servicios de consultoría personalizados
        para ayudarte a optimizar tus procesos, adoptar nuevas tecnologías y mantener
        una ventaja competitiva en un mercado en constante evolución.
      </li>
    </ul>
  </div>

  <div id="block3" class="centered-block">
    <h2 class="text-2xl font-bold text-pink-300 mb-3">Por Qué Elegirnos</h2>
    <ul class="list-disc pl-6 mb-6">
      <li class="mb-2">
        <strong class="text-pink-200">Experiencia y Profesionalismo:</strong> Con
        años de experiencia en la industria, nuestro equipo cuenta con las habilidades
        y el conocimiento necesarios para abordar cualquier desafío de desarrollo
        de software con profesionalismo y excelencia.
      </li>
      <li class="mb-2">
        <strong class="text-pink-200">Compromiso con la Calidad:</strong> Nos comprometemos
        a ofrecer soluciones de software de la más alta calidad, utilizando las mejores
        prácticas de desarrollo y asegurando resultados que cumplan y superen las
        expectativas de nuestros clientes.
      </li>
      <li class="mb-2">
        <strong class="text-pink-200">Enfoque Personalizado:</strong> Entendemos
        que cada proyecto es único, por lo que nos dedicamos a comprender tus necesidades
        específicas y a ofrecer soluciones personalizadas que se ajusten perfectamente
        a tus objetivos y requisitos.
      </li>
    </ul>
  </div>

  <div id="block4" class="centered-block">
    <Logo class="text-center text-3xl" ejeX="-20" size="400" />
    <h1 class="text-2xl font-bold text-pink-300 mb-3">Te esperamos</h1>
    <p class="text-lg mb-6">
      Si estás buscando una consultora de software comprometida, innovadora y
      orientada a resultados, ¡has venido al lugar correcto! <a
        href="#"
        class="text-pink-500 hover:underline">Contáctanos</a
      > hoy mismo para descubrir cómo podemos ayudarte a llevar tu negocio al siguiente
      nivel con nuestras soluciones de software a medida.
    </p>
  </div>
</div>

<script>
  import { handleDOMContentLoaded } from "@src/utils/vertical-navigate.astro.ts";
  import { handleMediaQueryChange } from "@src/utils/media-clases.astro";
  import { observerToAnimate } from "@src/utils/observer-to-animate.astro";

  const desktopClasses = ["mx-20", "p-10", "text-center"];
  const mobileClasses = ["mx-4", "p-4", "text-left", "text-sm"];

  const mediaQuery = window.matchMedia("(min-width: 768px)");
  const blocks = document.querySelectorAll(".centered-block");

  let lastScrollTop = 0;
  const observer = observerToAnimate(lastScrollTop);
  blocks.forEach((block) => {
    observer.observe(block);
  });

  handleMediaQueryChange(blocks, mediaQuery, desktopClasses, mobileClasses);
  mediaQuery.addEventListener("change", () =>
    handleMediaQueryChange(blocks, mediaQuery, desktopClasses, mobileClasses)
  );
  document.addEventListener("DOMContentLoaded", () =>
    handleDOMContentLoaded(blocks)
  );
</script>
<style>
  @media (min-width: 768px) {
    .centered-block {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      margin-bottom: 50px;
    }

    .centered-block.active {
      opacity: 1;
    }
  }
  @media (max-width: 768px) {
    .centered-block {
      margin-bottom: 200px;
    }

    .animate-down {
      animation: moveDown 1s ease-in-out;
    }

    .animate-up {
      animation: moveUp 1s ease-in-out;
    }

    @keyframes moveDown {
      0% {
        transform: translateY(-100px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @keyframes moveUp {
      0% {
        transform: translateY(100px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
</style>
