---
import Layout from '@src/layouts/Layout.astro';
import Content from '@src/pages/Content.astro';
import Info from '@src/pages/Info.astro';
import Footer from '@src/pages/Footer.astro';
import NavBar from './NavBar.astro';
---

<Layout title="Welcome to Dart.">
	<NavBar />
	<main>
		<Content />
		<Info />
	</main>
	<Footer />
</Layout>

<style>
	main {
		color: white;
		font-size: 20px;
		margin-top: 100px;
	}
</style>
