---
import Logo from "../components/Logo.component.astro";
---

<section class="navbar fixed top-0 left-0 w-full z-50 bg-[#13151a]">
  <div class="logo">
    <Logo />
  </div>
<hr/>
</section>

<style>
  .logo{
    margin-left: -4vh;
  }
</style>